<template name="home">
  {{>navbar}}

  <div class="container">
  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
	  		<h2>Hello, {{name}}.</h2>

	  		<input type="text" name="" class="form-control" placeholder="Whom would you like to get in touch with?">

<h1>Add New</h1>

     <form class="new-contact">
       <input type="text" class="form-control" name="contact-name" placeholder="Name" />
         <input type="text" class="form-control" name="contact-phone" placeholder="Phone" />
         <input type="text" class="form-control" name="contact-email" placeholder="Email" />
      </form>



  			<div class="row">
  				{{#each contacts}}
  					{{>contact }}
  				{{/each}}
  			</div>
  		</div>
  	</div>
  </div>
</template>

<template name="contact">
	<div class="col-md-6">
		<div class="contact-item">
      <span class="fa fa-4x fa-user user-icon" aria-hidden="true"></span>
			<h3>{{name}}</h3>
      <h4>{{phone}}</h4>
      <h4>{{email}}</h4>
		</div>
	</div>
</template>