<template name="signup">
	<div style="height: 20px;"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<h1>Please sign up.</h1>

				<form action="" id="signup-form" method="POST" role="form">
					
					<div class="form-group">
						<input type="text" class="form-control" id="signup-email" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="text" class="form-control" id="signup-username" placeholder="Username">
					</div>

					<div class="form-group">
						<input type="password" class="form-control"  id="signup-password" placeholder="Password">
					</div>

	
					<button type="submit" class="btn btn-info btn-block" id="login-continue">Continue <span class="fa fa-chevron-right" aria-hidden="true"></span></button>
				</form>


			</div>
		</div>
	</div>

</template>